body {
    color: white;
    background-color: rgb(38, 148, 47);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    padding-left: 400px;
    padding-right: 400px;

}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
}

h1 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
